section.info-cardiology
    .service-page__title-wrap
        h3.page-title Когда следует обращаться к кардиологу?

    h4.info-cardiology__symptoms 10 основных симптомов:

    ul.info-cardiology__list
        li.info-cardiology__list-item
            h5.info-cardiology__list-title 1. Любые по характеру и локализации боли в грудной клетке
            p.info-cardiology__list-info Особенно, если: они возникают по центру за грудиной и в левой половине грудной клетки, в области сердца; отдают в шею, нижнюю челюсть, левую руку, в обе руки, в спину; 
                br 
                | возникают после физической нагрузки.
            p.info-cardiology__list-info В случае если боли такого характера появились впервые (или если они уже тебе знакомы, но стали учащаться и усиливаться), необходимо вызвать скорую — данное состояние может рассматриваться как острый коронарный синдром (нестабильная стенокардия, предынфарктное состояние), возможная острая патология аорты. Увы, от таких болезней сегодня не застрахованы даже мужчины в самом расцвете сил.
        li.info-cardiology__list-item
            h5.info-cardiology__list-title 2. Одышка и внезапные приступы удушья по ночам
            p.info-cardiology__list-info Чувствуешь, что дышать так же трудно, как после марафона, а ты ничего тяжелее книги сегодня не поднимал? Ты неожиданно испытал состояние, близкое к бронхиальной астме, но этого заболевания у тебя не было и нет? Такими симптомами проявляется одна из разновидностей сердечной недостаточности — сердечная астма. Опасное жизнеугрожающее последствие сердечной астмы — отек легких. Срочно вызывай неотложку!

    .service-page__button
        button.button-next Далее