section.price-cardiology
    .service-page__title-wrap
        h3.page-title Стоимость
    span.service-page__red-line
    p.service-page__offer Указанные на сайте цены не являются публичной офертой.

    .price__wrap
        +price-item("Первичный прием кардиолога", "1100")
        +price-item("Повторный прием кардиолога", "900")
        +price-item("ЭКГ с расшифровкой", "500")
        +price-item("Первичный прием + ЭКГ с расшифровкой", "1500")
        +price-item("Повторный прием с расшифровкой", "1300")

    .service-page__button
        button.button-next Далее