section.timetable-cardiology
    .service-page__title-wrap
        h3.page-title Расписание

    .timetable__wrap
        +timetable-doctor(doctor1)
        +timetable(timetable1)

        +timetable-doctor(doctor2)
        +timetable(timetable2)

        +timetable-doctor(doctor3)
        +timetable(timetable3)

    .service-page__button
        button#tabletime-btn.button-next Далее