.actions-bot{
    padding: 32px 0 64px;

    //Планшет    
    @media(min-width: $tabletSize){
        padding: 72px 0;
    }

    //Десктоп   
    @media(min-width: $desktopSize){

    }
}

.actions-bot__title{
    margin-bottom: 32px;
    text-align: center;
}