.service-page{
    padding-top: 32px;
    padding-bottom: 64px;
    color: $primary-text-color;

    //Планшет    
    @media(min-width: $tabletSize){
        padding-top: 72px;
        padding-bottom: 0;
    }
}

.service-page__wrap{
    display: flex;
    // justify-content: space-between;
}

.service-page__list{
    display: none;

    //Десктоп   
    @media(min-width: $desktopSize){
        display: flex;
        flex-direction: column;
        width: 35%;
    }
}

.service-page__item{
    margin-bottom: 16px;

    &:last-child{
        margin-bottom: 0;
    }

    a{
        display: flex;
        align-items: center;
    }

    &:hover a .services-page__desc::before{
        width: 0%;
    }

    &:hover a{
        opacity: 0.6;
    }

}

.services-page__img{
    width: 32px;
    margin-right: 24px;
}


.services-page__desc{
    font-size: 14px;
    color: $primary-text-color;
    position: relative; 

    @media(min-width: $desktopSize){
        &::before{
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            background-color: $primary-text-color;
            bottom: 0px;
            height: 1px;
            transition: 0.5s;
        }
    }
}

.service-page__info{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    //планшет 
    @media(min-width: $tabletSize){
        max-width: unset;
    }

    //Десктоп   
    @media(min-width: $desktopSize){
        width: 65%;
    }
}

.service-page__main-title-wrap{
    margin-bottom: 32px;

    //Планшет    
    @media(min-width: $tabletSize){
        margin-bottom: 48px;
    }
}

.service-page__title-wrap{
    margin-bottom: 48px;
    margin-top: 48px;
}

.service-page__button{
    display: flex;
    justify-content: center;
}

.service-page__red-line{
    display: inline-block;
    width: 48px;
    height: 2px;
    background-color: $primary-button-color;
    margin-bottom: 24px;
}

.service-page__offer{
    font-size: 16px;
    margin-bottom: 48px;
}