.services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 192px;

    //Планшет    
    @media(min-width: $tabletSize){
        width: 33.333333%;
    }
}

.services-item__desc{
    font-size: 12px;
    text-transform: uppercase;
    color: $text-color-with-bg;
}

.services-item__img{
    margin-bottom: 36px;
}