section.action-page
    .container
        .action-page__title-wrap    
            h2.main-title.bold #{titleActionPage}
        
        +action-list-item(timeAction1, titleAction1, imgAction1)
        +action-list-item(timeAction2, titleAction2, imgAction2)
        +action-list-item(timeAction3, titleAction3, imgAction3)

        
        