section.actions-bot    
    .actions-bot__title
        h2.main-title Действующие акции и предложения

    .action-bot__wrapper
        .actions-bot__slider
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "01.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "02.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "03.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "04.png", "#")
