.action-info__info
    .action-info__desc
        .action-info__title
            h2.main-title.bold Консультация гинеколога всего от 750 руб!

        .action-info__info-wrap
            h4.doctors-info__title Описание
            p Предложение направлено на профилактику женского здоровья всех возрастов.
            span Включает:
            ul.action-info__list
                li.action-info__list-item Тестовый текст
                li.action-info__list-item Тестовый текст
                li.action-info__list-item Тестовый текст
        .action-info__info-wrap
            h4.doctors-info__title Условия акции
            p Чтобы принять участие в акции достаточно зарегистрировать своё обращение на сайте или связаться с администраторами медицинского центра по телефону.

        .action-info__info-wrap
            h4.doctors-info__title Срок действия
            p Предложение действительно с 01 марта по 31 мая 2020 г

        .action-info__time-form
            h1.countdown-title До окончания акции осталось:
            #countdown.countdown
                .countdown-number
                    span.days.countdown-time
                    span.countdown-text дней
                .countdown-number
                    span.hours.countdown-time
                    span.countdown-text часов
                .countdown-number
                    span.minutes.countdown-time
                    span.countdown-text минут
                .countdown-number
                    span.seconds.countdown-time
                    span.countdown-text секунд

        h4.doctors-info__title.tablet-center Оставить заявку

        form.action-form
            .registry-form__item
                input.registry-form__field.action(type="text", name="name", placeholder="ФИО")

            .registry-form__item
                input.registry-form__field.action(type="text", name="phone", placeholder="Телефон")

            .registry-form__item
                label.registry-form__item-label.action
                    input(type="checkbox" id="checkbox" name="check")
                    .custom-check
                    p Я согласен на обработку персональных данных
                
            .registry-form__button.action
                input(type="submit", value="Отправить")



