section.actions-top

    #owl-carousel-top.owl-carousel.owl-theme

        +carousel-top-item("консультация гинеколога", "carousel-1.png")
            p только в феврале всего&nbsp;от 750 руб!
        +carousel-top-item("Вакцинация детей", "carousel-2.png")
            p Пентаксим инфанринкс гекса ММР2


