section.actions-bot
    .container
        .actions-bot__title
            h2.main-title Действующие акции и предложения

        .actions-bot__slider
            //- <div class="carousel-cell">GHBDTNASDFSsdfsdfsdfsdfsdfsdfsdfsdf</div>
            //- <div class="carousel-cell">GHBDTNASDFSsdfsdfsdfsdfsdfsdfsdfsdf</div>
            //- <div class="carousel-cell">GHBDTNASDFSsdfsdfsdfsdfsdfsdfsdfsdf</div>
            //- <div class="carousel-cell">GHBDTNASDFSsdfsdfsdfsdfsdfsdfsdfsdf</div>
            //- <div class="carousel-cell">GHBDTNASDFSsdfsdfsdfsdfsdfsdfsdfsdf</div>
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "01.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "02.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "03.png", "#")
            +slider-item("Консультация гинеколога", "Только в феврале! Всего от 750 рублей", "04.png", "#")
