section.doctors
    .container
        .doctors__title
            h2.main-title #{titleDoctors}
        
        .doctors__list-wrap
            ul.doctors__list
                +doctors-list-item("Соколов", "Валентин Николаевич", "Кардиолог, ведущий специалист", img = "01.png", link = "#")
                +doctors-list-item("Мирошкина-Акопян", "Марина Александровна", "Кардиолог", img = "02.png", link = "#")
                +doctors-list-item("Воропаев", "Евгений Сергеевич", "Кардиолог высшей квалификационной категории", img = "03.png", link = "./VoropaevES.html")
                +doctors-list-item("Асташенков", "Юрий Фёдорович", "Кардиолог", img = "04.png", link = "#")
                +doctors-list-item("Мещерекова", "Ольга Дмитриевна", "Кардиолог, ведущий специалист", img = "no-photo.png", link = "#")




