header.header

    .container

        .mobile-menu

            .mobile-menu__wrapper
                img(src="./img/header/menu.svg", alt="Мобильное меню").mobile-menu__img
                .mobile-menu__text Меню

            a(href="tel:+79251645003").mobile-menu__phone +7 (925) 164–50–03
        
        .header-info

            .header-info__text
                .header-info__text-town г. Воскресенск
                a(href="tel:+79251645003").header-info__text-phone +7 (925) 164–50–03

            a(href="index.html").header-info__logo
                img(src="./img/header/logo.svg", alt="Citymed", width = "244px")

            .header-info__time
                .header-info__time-hours 08:00 – 20:00   
                .header-info__time-days Без выходных
            
            +header-button("Регистратура", link="#")

        nav.header-nav

            .header-nav__buttons
                +header-button("Регистратура", link="#")
                .header-nav__buttons-input
                    input(type="search", placeholder="Поиск").header-nav__input
                    .header-nav__buttons-icon
                        img(src="./img/header/search.svg", alt="Поиск")

            ul.header-nav__list

                +header-nav-item("О центре", "#")
                +header-nav-item("Акции", "./action.html")
                +header-nav-item("Услуги", "./service.html")
                +header-nav-item("Скидки", "#")
                +header-nav-item("Контакты", "./contacts.html")    
