section.services
    .services-wrapper
        +service-item("КОСМЕТОЛОГИЯ-ДЕРМАТОЛОГИЯ", "01.svg", "#", "#B39C6B")
        +service-item("СТОМАТОЛОГИЯ", "02.svg", "#", "rgba(242, 61, 61, 0.9)")
        +service-item("МИКРОХИРУРГИЯ ГЛАЗА", "03.svg", "#", "rgba(3, 134, 150, 0.9)")
