ul.services-list
    +services-list-item("Аллергология", "01.svg")
    +services-list-item("Гастроэнтерология", "02.svg")
    +services-list-item("Гинекология", "03.svg")
    +services-list-item("Кардиология", "04.svg")
    +services-list-item("ЛОР", "05.svg")
    +services-list-item("Массаж", "06.svg")
    +services-list-item("Онкология", "07.svg")
    +services-list-item("Офтальмология", "08.svg")
    +services-list-item("Педиатрия", "09.svg")
    +services-list-item("Процедуры", "10.svg")
    +services-list-item("Стоматология", "11.svg")
    +services-list-item("Терапия", "12.svg")
    +services-list-item("УЗИ", "13.svg")
    +services-list-item("Хирургия", "14.svg")
    +services-list-item("Эндокринологогия", "15.svg")

