section.statistics
    +statistics-item("1 530", "Услуг", "#038696")
    +statistics-item("5 230", "Пациентов", "rgba(3, 133, 150, 0.9)")
    +statistics-item("36", "Специалистов", "rgba(3, 133, 150, 0.8)")