$primary-text-color: #39404D;
$secondary-text-color: #038696;
$text-color-with-bg: white;

$primary-button-color: #F23D3D;
$secondary-button-color: #EBEDF2;

$primary-bg-color: #038696;
$secondary-bg-color: #EBEDF2;
