$primary-text-color: #39404D;
$secondary-text-color: #038696;
$text-color-with-bg: white;

$placeholder-color: #9DA4B3;

$primary-button-color: #F23D3D;
$primary-button-color-hover: #FF4444;
$primary-button-color-active: #D93737;
$secondary-button-color: #EBEDF2;

$primary-bg-color: #038696;
$secondary-bg-color: #EBEDF2;
$tertiary-bg-color: #E5E5E5;

$bg-action-bot-header: #CED2D9;
$bg-action-bot-footer: #EBEDF2;
$text-action-bot-title: #39404D;;
$text-action-bot-desc: #3D424D;

$bg-footer-social: #9DA4B3;