extends ./../layouts/main.pug

block variables
    - const title = "CityMed - Специалисты";
    - const titleDoctors = "Специалисты"

block content
    main
        +sub-menu([{title: "Главная", link: "./index.html"}, {title: "Специалисты"}])
        include ../sections/doctors-list.pug
