extends ./../layouts/main.pug

block variables
    - const title = "Страница не нацдена";

block content
    main
        +sub-menu([{title: "Главная", link: "./index.html"}, {title: "Страница не найдена"}])
        section.error
            .container
                .error__title-wrap
                    h2.main-title.bold Страница не найдена
                
                .error__img
                    img(src="./img/error/error.png", alt= "Страница не найдена")

                .error__text
                    p Запрашиваемая страница не найдена. 
                    p Воспользуйтесь поиском по сайту или перейдите на главную.