extends ./../layouts/main.pug

block variables
    - const title = "СитиМед";
    - const titleService = "Услуги медицинского центра"
    - const titleRegistry = "Ругистратура онлайн"

block content
    main
        include ../sections/actions-top.pug
        include ../sections/services.pug

        include ../sections/med-services.pug
        include ../sections/statistics.pug
        include ../sections/actions-bot.pug
        include ../sections/registry.pug

    script(src="./js/libs/jquery.min.js")
    script(src="./js/libs/owl.carousel.min.js")
    script(src="./js/libs/flickity.pkgd.min.js")
    script(src="./js/main.js")
