extends ./../layouts/main.pug

block variables
    - const title = "CityMed - Услуги";
    - const titleService = "Услуги"

block content
    main
        +sub-menu([{title: "Главная", link: "./index.html"}, {title: "Услуги"}])
        include ../sections/med-services.pug
        include ../sections/registry.pug

    script(src="./js/libs/jquery.min.js")
    script(src="./js/service.js")