extends ./../layouts/main.pug

block variables
    - const title = "Воропаев Евгений Сергеевич";
    - const doctorName = "ВОРОПАЕВ ЕВГЕНИЙ СЕРГЕЕВИЧ";
    - const desc = [{text: "Кардиолог высшей квалификационной категории."}]
    - const img = "03.png";
    - const doctorTime = {dates: ["09", "10", "11", "12", "13", "14", "15"], time: {md: "", td: "09:00 - 11:00", wd: "09:00 - 11:00", th: "09:00 - 11:00", fd: "09:00 - 11:00", st: "", sd: ""}};
    - const doctorEducation = [{ text: "Высшее, окончил Томский Медицинский Институт Ордена Трудового Красного Знамени по специальности «Лечебное дело» в 1980 г."}, { text: "Проходил интернатуру по общей терапии."}];
    - const doctorProfession = [{text: "Специализируется на диагностике, лечении, профилактике заболеваний сердечно-сосудистой системы."}, {text: "Консультирует и лечит острые кардиологические патологии такие, как инфаркт миокарда, его осложнения, нарушения ритма и проводимости, острая сердечная недостаточность ишемической болезни сердца, стенозирующие сосудистые патологии, тромбоз глубоких вен, тромбоэмболии легочной артерии."}, {text: "В диагностике использует такие исследования, как ЭКГ, суточное мониторирование ЭКГ и АД."}, {text: "Проводит предоперационную подготовку пациентов перед ангиопластикой, стентированием, аортокоронарным шунтированием, протезированием клапанов сердца, наблюдение и лечение пациентов после плановых хирургических вмешательств."}];

block content
    main
        +sub-menu([{title: "Главная", link: "../index.html"}, {title: "Специалисты", link: "../doctors.html"}, {title: "Воропаев Евгений Сергеевич"}])
        include ../sections/doctors-info.pug
            