.header{
    position: relative;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 13px;
    background-color: $primary-bg-color;

    display: flex;
    flex-direction: column;

    //Планшет    
    @media(min-width: $tabletSize){
        padding-top: 50px;
        padding-bottom: 27px;
    }

    //Десктоп   
    @media(min-width: $desktopSize){
        padding-bottom: 37px;
    }
}

.header-nav{
    display: flex;
    flex-direction: column;
}

.mobile-menu__text{
    font-size: 12px;

    img{
        width: 16px;
        color: white;
        margin-right: 15px;
    }
}