.header-info{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 10px;

    img{
        width: 170px;
    }

    .header-nav__buttons-link{
        display: none;
    }
 
    //Планшет    
    @media(min-width: $tabletSize){
        margin-bottom: 49px;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
    }

    //Десктоп   
    @media(min-width: $desktopSize){

        .header-nav__buttons-link{
            display: block;
            order: 2;
        }
    }
}

.header-info__text{
    margin-bottom: 16px;

    //Планшет    
    @media(min-width: $tabletSize){
        display: flex;
        flex-direction: column;
        order: 1;
        align-items: flex-end;
        margin-bottom: 0;
    }
}

.header-info__text-town{
    text-transform: uppercase;
}

.header-info__text-phone{
    display: none;

    color: $text-color-with-bg;

    &:visited{
        color: $text-color-with-bg;
    }

    //Планшет    
    @media(min-width: $tabletSize){
        display: block;
    }
}

.header-info__logo{
    margin-bottom: 16px;  

    //Десктоп   
    @media(min-width: $desktopSize){
        width: 244px;
        
        img{
            width: 100%;
        }
    }
}

.header-info__time{
    display: flex;

    //Планшет    
    @media(min-width: $tabletSize){
        flex-direction: column-reverse;
        align-items: center;
    }
}

.header-info__time-hours{
    margin-right: 10px;
}

.header-info__time-days{
    text-transform: uppercase;
}

