.registry{
    display: none;

    //Планшет    
    @media(min-width: $tabletSize){
        display: block;
    }
}

.registry__title{
    text-align: center;
    display: none;
    //Десктоп   
    @media(min-width: $desktopSize){
        display: block;
        margin-bottom: 96px;
    }
}



