include ./mixins.pug

block variables

<!DOCTYPE html>
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- На время разработки
        META(name="ROBOTS" CONTENT="noindex, nofollow") 
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2:900|Montserrat:300,300i,400,500,700|Playfair+Display&display=swap&subset=cyrillic")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap")
        link(rel="stylesheet", href="./css/libs/owl.carousel.min.css")
        link(rel="stylesheet", href="./css/libs/owl.theme.default.min.css")
        link(rel="stylesheet", href="./css/libs/flickity.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet", href="css/main.css")
        title #{title}

    body
        include ../sections/header.pug

        block content

        include ../sections/footer.pug
