include ../mixins/header-nav-item.pug
include ../mixins/header-button.pug
include ../mixins/carousel-top-item.pug
include ../mixins/services-item.pug
include ../mixins/services-list-item.pug
include ../mixins/statistics-item.pug
include ../mixins/slider-item.pug
include ../mixins/footer-list.pug
include ../mixins/sub-menu.pug
include ../mixins/service-page-item.pug
include ../mixins/service-page-item-active.pug
include ../mixins/timetable.pug
include ../mixins/timetable-doctor.pug 
include ../mixins/price-item.pug
include ../mixins/doctors-list-item.pug