include ../mixins/header-nav-item.pug
include ../mixins/header-button.pug
include ../mixins/carousel-top-item.pug
include ../mixins/services-item.pug
include ../mixins/services-list-item.pug
include ../mixins/statistics-item.pug
include ../mixins/slider-item.pug
include ../mixins/footer-list.pug