.action-page{
    padding-top: 42px;
    padding-bottom: 64px;
    color: $primary-text-color;

    //Планшет    
    @media(min-width: $tabletSize){
        padding-top: 80px;
        padding-bottom: 0;
    }
}

.action-page__title-wrap{
    margin-bottom: 48px;
    text-align: center;

    //Планшет    
    @media(min-width: $tabletSize){
        margin-bottom: 72px;
    }

    //Десктоп   
    @media(min-width: $desktopSize){
        text-align: unset;
        margin-bottom: 96px;
    }
}