.action-info__time-form{
    background-color: $bg-action-bot-footer;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 336px;
    display: none;

    p{
        font-size: 12px;
        margin-bottom: 12px;
    }

    margin-bottom: 72px;

    //Планшет    
    @media(min-width: $tabletSize){
        display: block;
    }

    //Десктоп   
    @media(min-width: $desktopSize){
        display: none;
    }
}

.countdown-title {
    font-size: 12px;
    margin-bottom: 12px;
    color: $primary-text-color;
    font-weight: 400;
  }
   
  .countdown {
    color: $secondary-button-color;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
  }
   
  .countdown-number {
    padding: 7px;
    width: 64px;
    border-radius: 3px;
    background-color: $text-action-bot-desc;
    display: inline-block;
  }
   
  .countdown-time {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
   
  .countdown-text {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }